.root {
    -styleMainBackground-color: #404040;

    -styleMenuTextColor-color: #ffffff;
    -styleMenuHoverButtonColor-color: #326eb2;
    -styleMenuHoverText-color: #ffffff;
    -styleSubMenuBackground-color: #326eb2;

    -styleButtonBackground-color: #326eb2;
    -styleButtonText-color: #ffffff;
    -styleButtonBorder-color: #326eb2;
    -styleButtonHover-color: #3988D4;
    -styleButtonHoverIcon-color: #ffffff;

    -styleTableBackground-color: #505050;
    -styleTableSelectedRow-color: #326eb2;
    -styleTableText-color: #ffffff;
    -styleTableCellBorder-color: #A0A0A0;

    -styleTextFieldBackground-color: #808080;
    -styleTextFieldBorder-color: #858585;
    -styleTextFieldText-color: #ffffff;
    -styleTextFieldFocused-color: #326eb2;

    -styleTextFieldErrorBackground-color: #807070;
    -styleTextFieldErrorBorder-color: #D15353;

    -styleTitleText-color: #cfcfcf;

    -styleProgressBar-color: #3988D4;

    -fx-background-color: -styleMainBackground-color;
    -fx-background: -styleMainBackground-color;
}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: derive(-styleMenuHoverButtonColor-color, -5%);
    -fx-effect: none;
}
.menu-item:focused {
    -fx-background-color: -styleMenuHoverButtonColor-color;
    -fx-effect: none;
}

.button:hover {
    -fx-effect: none;
}

.button:focused {
    -fx-effect: dropshadow(two-pass-box, derive(-styleButtonBackground-color, +10%), 5, 0.7, 0, 0);
}

.button:cancel {
    -fx-background-insets: 0;
    -fx-background: derive(-styleButtonBackground-color, +70%);
    -fx-background-color: derive(-styleButtonBackground-color, +70%);
    -fx-text-fill: derive(-styleButtonText-color, +50%);
}