.root {
    -styleMainBackground-color: #ffffff;

    -styleMenuTextColor-color: #444444;
    -styleMenuHoverButtonColor-color: #337EC3;
    -styleMenuHoverText-color: #ffffff;
    -styleSubMenuBackground-color: #337EC3;

    -styleButtonBackground-color: #bfc3c5;
    -styleButtonBorder-color: #444444;
    -styleButtonText-color: #454545;
    -styleButtonHover-color: #c4dbf4;
    -styleButtonHoverIcon-color: #3988D4;

    -styleTableBackground-color: #fdfdfd;
    -styleTableCellBorder-color: #444444;
    -styleTableSelectedRow-color: #326eb2;
    -styleTableText-color: #000000;
    -styleTableSelectedText-color: #ffffff;

    -styleTextFieldBackground-color: #ffffff;
    -styleTextFieldBorder-color: #2b2b2b;
    -styleTextFieldText-color: #000000;
    -styleTextFieldFocused-color: #326eb2;
    -styleTitleText-color: #000000;

    -styleTextFieldErrorBackground-color: #ffc4c4;
    -styleTextFieldErrorBorder-color: #D15353;

    -styleProgressBar-color: #3988D4;

    -fx-background-color: -styleMainBackground-color;
    -fx-background: -styleMainBackground-color;
}

.button {
    -fx-background-color: linear-gradient(#ffffff 0%, -styleButtonBackground-color 100%);
    -fx-effect: innershadow(gaussian, -styleButtonBorder-color, 4, 0.1, 0, 0);
}

.button:hover {
    -fx-background-color: linear-gradient(-styleButtonHover-color 1%, #ffffff 20%, derive(-styleButtonHover-color, +10%) 70%, -styleButtonHover-color 100%);
    -fx-effect: innershadow(gaussian, derive(-styleButtonHover-color, -10%), 4, 0.3, 0, 0);
}

.button:focused {
    -fx-effect: dropshadow(two-pass-box, derive(-styleButtonHover-color, +10%), 5, 0.7, 0, 0);
}