.root {
    -styleMainBackground-color: #ffffff;

    -styleMenuTextColor-color: #444444;
    -styleMenuHoverButtonColor-color: #444444;
    -styleSubMenuBackground-color: #326eb2;

    -styleButtonBackground-color: #bfc3c5;
    -styleButtonBorder-color: #444444;
    -styleButtonText-color: #454545;
    -styleButtonHover-color: #c4dbf4;

    -styleTableBackground-color: #fdfdfd;
    -styleTableCellBorder-color: #444444;
    -styleTableSelectedRow-color: #326eb2;
    -styleTableText-color: #000000;

    -styleTextFieldBackground-color: #ffffff;
    -styleTextFieldBorder-color: #2b2b2b;
    -styleTextFieldText-color: #000000;
    -styleTextFieldFocused-color: #326eb2;
    -styleTitleText-color: #000000;

    -fx-background-color: -styleMainBackground-color;
    -fx-background: -styleMainBackground-color;
}

.menu-bar {
    -fx-background-color: derive(-styleMainBackground-color, -5%);
    -fx-border-width: 0 0 1 0;
    -fx-border-color: derive(#000000, +30%);
}

.menu-bar .label {
    -fx-text-fill: derive(-styleMenuTextColor-color, -5%);
}

.menu-bar > .container > .menu-button {
    -fx-border-color: transparent;
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
}

.menu-bar > .container > .menu-button:hover {
    -fx-background-color: derive(-styleMainBackground-color, -5%);
    -fx-text-fill: derive(-styleMenuTextColor-color, -20%);
    -fx-border-color: -styleMenuHoverButtonColor-color;
}

.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: derive(-styleMainBackground-color, -5%);
    -fx-effect: innershadow(two-pass-box, -styleMenuHoverButtonColor-color, 14, 0.3, 0, 0);
    -fx-text-fill: derive(-styleMenuTextColor-color, -20%);
    -fx-border-color: -styleMenuHoverButtonColor-color;
}

.menu-item .label {
    -fx-text-fill: derive(-styleMenuTextColor-color, -20%);
}

.menu-item:focused {
    -fx-background-color: -styleMainBackground-color;
    -fx-effect: innershadow(gaussian, -styleSubMenuBackground-color, 4, 0.5, 0, 0);
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
}

.menu-item:focused .label {
    -fx-text-fill: -styleMenuTextColor-color;
}

.context-menu {
    -fx-background-color: -styleMainBackground-color;
    -fx-background-insets: 0, 1, 2;
    -fx-border-color: derive(#000000, +30%);
    -fx-effect: dropshadow(two-pass-box, derive(#000000, +30%), 5, 0, 3, 3);
    -fx-padding: 3;
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.button {
    -fx-padding: 5px 10px;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-background-color: linear-gradient(#ffffff 0%, -styleButtonBackground-color 100%);
    -fx-text-fill: derive(-styleButtonText-color, +10%);
    -fx-effect: innershadow(gaussian, -styleButtonBorder-color, 4, 0.1, 0, 0);
}

.button:hover {
    -fx-background-color: linear-gradient(-styleButtonHover-color 1%, #ffffff 20%, derive(-styleButtonHover-color, +10%) 70%, -styleButtonHover-color 100%);
    -fx-effect: innershadow(gaussian, derive(-styleButtonHover-color, -10%), 4, 0.3, 0, 0);
}

.button:focused {
    -fx-effect: dropshadow(two-pass-box, derive(-styleButtonHover-color, +10%), 5, 0.7, 0, 0);
}

.button:cancel {
    -fx-background-insets: 0;
    -fx-background: derive(-styleButtonBackground-color, +70%);
    -fx-background-color: derive(-styleButtonBackground-color, +70%);
    -fx-text-fill: derive(-styleButtonText-color, +50%);
}

.table-view {
    -fx-background-color: derive(-styleTableBackground-color, -10%);
}

.table-view .column-header, .table-view .column-header .label {
    -fx-background-color: derive(-styleTableBackground-color, -30%);
    -fx-color-label-visible: -styleTableText-color;
    -fx-text-fill: -styleTableText-color;
}

.table-view .indexed-cell {
    -fx-text-fill: -styleTableText-color;
    -fx-table-cell-border-color: -styleTableCellBorder-color;
}

.table-view .table-row-cell:odd {
    -fx-background-color: -styleTableBackground-color;
}

.table-view .table-row-cell:even {
    -fx-background-color: derive(-styleTableBackground-color, -10%);
}

.table-view .table-row-cell:selected {
    -fx-background: derive(-styleTableSelectedRow-color, +70%);
    -fx-background-color: derive(-styleTableSelectedRow-color, +70%);
    -fx-table-cell-border-color: -styleTableCellBorder-color;
}

.table-view .table-row-cell .check-box .box {
    -fx-background-color: #797979;
    -fx-border-color: derive(#404040, -20%);
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
}

.table-view .table-row-cell:empty {
    -fx-background-color: -styleTableBackground-color;
}

.table-view .table-row-cell:empty:odd, .table-view .table-row-cell:empty:even {
    -fx-background-color: -styleTableBackground-color;
}

.table-view .table-row-cell .text {
    -fx-fill: -styleTableText-color;
}

.text-field {
    -fx-background-color: -styleTextFieldBackground-color;
    -fx-border-color: derive(-styleTextFieldBorder-color, +30%);
    -fx-border-width: 1;
    -fx-text-fill: -styleTextFieldText-color;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.text-field:focused {
    -fx-effect: innershadow(gaussian, -styleTextFieldFocused-color, 5, 0.8, 0, 0);
}

.view-title {
    -fx-font-size: 18px;
    -fx-fill: -styleTitleText-color;
}

.check-box .box {
    -fx-background-color: #797979;
    -fx-border-color: derive(#404040, -20%);
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
}

.check-box:selected .mark {
    -fx-background-color: #ffffff;
}

.check-box:selected .box {
    -fx-background-color: #323232;
}