.root{
    -styleMenuTextColor-color: #ffffff;
    -styleButtonBackground-color: #326eb2;
    -styleTableBackground-color: #505050;
    -styleTableSelectedRow-color: #326eb2;
    -styleTableText-color: #ffffff;
    -styleTextFieldBackground-color: #808080;
    -styleTextFieldBorder-color: #2B2B2B;
    -styleTextFieldText-color: #ffffff;
    -styleTextFieldFocused-color: #326eb2;

    -fx-background-color: #404040;
    -fx-background: #404040;
}

.menu-bar{
    -fx-background-color: derive(#404040, -20%);
}

.menu-bar .label {
    -fx-text-fill: derive(-styleMenuTextColor-color, -20%);
}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: #326eb2;
    -fx-text-fill: -styleMenuTextColor-color;
}

.menu-item .label {
    -fx-text-fill: derive(-styleMenuTextColor-color, -20%);
}

.menu-item:focused {
    -fx-background-color: #326eb2;
    -fx-background-radius: 2px;
}

.menu-item:focused .label {
    -fx-text-fill: -styleMenuTextColor-color;
}

.context-menu {
    -fx-background-color: derive(#404040, -20%);
    -fx-background-insets: 0, 1, 2;
    -fx-border-radius: 0 0 2px 2px;
    -fx-border-color: #000000;
    -fx-padding: 0;
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.button{
    -fx-padding: 5px 10px;
    -fx-border-radius: 6px;
    -fx-background-color: -styleButtonBackground-color;
    -fx-text-fill: #ffffff;
}

.button:hover,
.button:hover:focused {
    -fx-background-color: derive(-styleButtonBackground-color, -20%);
    -fx-effect: none;
}

.button:focused{
    -fx-background-color: derive(-styleButtonBackground-color, -15%);
    -fx-effect: dropshadow(two-pass-box, derive(-styleButtonBackground-color, +10%), 5, 0.7, 0, 0);
}

.button:cancel{
    -fx-background-color: #74777b;
}

.table-view {
    -fx-background-color: -styleTableBackground-color;
}

.table-view .column-header, .table-view .column-header .label {
    -fx-background-color: #2B2B2B;
    -fx-color-label-visible: -styleTableText-color;
    -fx-text-fill: -styleTableText-color;
}

.table-view .indexed-cell {
    -fx-text-fill: -styleTableText-color;
}

.table-view .table-row-cell:odd {
    -fx-background-color: -styleTableBackground-color;
}

.table-view .table-row-cell:even {
    -fx-background-color: derive(-styleTableBackground-color, -20%);
}

.table-view .table-row-cell:selected {
    -fx-background: derive(-styleTableSelectedRow-color, 30%);
    -fx-background-color: derive(-styleTableSelectedRow-color, 30%);
    -fx-table-cell-border-color: derive(-styleTableSelectedRow-color, -50%);
}

.table-view .table-row-cell .check-box .box {
    -fx-background-color: #797979;
    -fx-border-color: derive(#404040, -20%);
    -fx-border-radius:2px;
    -fx-background-radius: 2px;
}

.table-view .table-row-cell:empty {
    -fx-background-color: #323232;
}

.table-view .table-row-cell:empty:odd, .table-view .table-row-cell:empty:even {
    -fx-background-color: #323232;
}

.table-view .table-row-cell .text {
    -fx-fill: -styleTableText-color;
}

.text-field{
    -fx-background-color: -styleTextFieldBackground-color;
    -fx-border-color: -styleTextFieldBorder-color;
    -fx-border-width: 1;
    -fx-text-fill: -styleTextFieldText-color;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.text-field:focused {
    -fx-effect: dropshadow(gaussian, -styleTextFieldFocused-color, 1, 2, 0, 0);
}

.view-title{
    -styleTitleText-color: #ffffff;
    -fx-font-size: 18px;
    -fx-fill: -styleTitleText-color;
}

.check-box .box {
    -fx-background-color: #797979;
    -fx-border-color: derive(#404040, -20%);
    -fx-border-radius:2px;
    -fx-background-radius: 2px;
}

.check-box:selected .mark {
    -fx-background-color: #ffffff;
}

.check-box:selected .box {
    -fx-background-color: #323232;
}