.drop-down .label {
    -fx-fill: -styleTextFieldText-color;
}

.drop-down .field .text-field {
    -fx-border-width: 1 0 1 1;
    -fx-background-radius: 4px 0 0 4px;
    -fx-border-radius: 4px 0 0 4px;
}

.drop-down .field .text-field:focused {
    -fx-effect: none;
}

.drop-down .button {
    -fx-padding: 0px 5px;
    -fx-border-radius: 0;
    -fx-background-color: derive(-styleTextFieldBackground-color, -50%);
    -fx-text-fill: -styleTextFieldText-color;;
    -fx-background-radius: 0;
    -fx-border-width: 1 1 1 0;
    -fx-border-insets: 0;
    -fx-border-color: -styleTextFieldBorder-color;
    -fx-effect: none;
    -fx-background-insets: 0;
}

.drop-down .open-list-button,
.drop-down .multiple .clear-button {
    -fx-border-radius: 0 4px 4px 0;
    -fx-background-radius: 0 4px 4px 0;
}

.drop-down .button:hover,
.drop-down .button:hover:focused {
    -fx-background-color: derive(-styleTextFieldBackground-color, -20%);
    -fx-effect: none;
}

.drop-down .button:focused {
    -fx-background-color: derive(-styleTextFieldBackground-color, -15%);
    -fx-effect: none;
}

.drop-down .button .icon {
    -fx-fill: -styleTextFieldText-color;
}

.drop-down .button:hover .icon {
    -fx-fill: -styleTextFieldText-color;
}

.data-block {
    -fx-background-color: -styleTableBackground-color;
    -fx-border-color: derive(-styleTableBackground-color, -50%);
}

.data-block .text-field {
    -fx-background-color: -styleTableBackground-color;
    -fx-border-width: 0 0 0 0;
    -fx-text-fill: -styleTextFieldText-color;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.data-block .text-field:focused {
    -fx-effect: none;
}

.data-block .items-count {
    -fx-fill: -styleTextFieldText-color;
}

.data-block .list-block {
    -fx-border-radius: 0;
    -fx-background-color: -styleTableBackground-color;
    -fx-border-width: 1;
    -fx-border-color: -styleTextFieldBorder-color;
    -fx-padding: 2 2 0 2;
}

.data-block .list-row {
    -fx-text-fill: derive(-styleTextFieldText-color, -20%);
    -fx-background-color: -styleTableBackground-color;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -styleTextFieldBorder-color;
}

.data-block .focused,
.data-block .list-row:hover {
    -fx-background-color: derive(-styleTableSelectedRow-color, 60%);
    -fx-text-fill: -styleTableText-color;
}

.data-block .selected,
.data-block .selected:hover {
    -fx-background-color: derive(-styleTableSelectedRow-color, 30%);
    -fx-text-fill: -styleTableText-color;
}