.root{
    -fx-background-image: url("preloader.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 852 480;
    -fx-background-position: center center;
}

.label {
    -fx-text-fill: #ffffff;
}

.settings-block{
    -fx-background-color: #202020;
    -fx-background: #202020;
}

.settings-block .button{
    -fx-padding: 2px 5px;
    -fx-border-radius: 0;
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-effect: none;
}

.settings-block .button:hover,
.settings-block .button:hover:focused {
    -fx-background-color: transparent;
    -fx-text-fill: #d25252;
    -fx-effect: none;
}

.settings-block .button:focused{
    -fx-effect: dropshadow(two-pass-box, #d25252, 2, 0.5, 0, 0);
}

.settings-block .button:cancel{
    -fx-text-fill: #74777b;
}

.settings-block .button .icon {
    -fx-fill: #ccd0d9;
}

.settings-block .button:hover .icon {
    -fx-fill: #d25252;
}